$orange: #f36700;

$insane-size: -10000px;
$max-width: 1920px;
$scale-2560: 1.333;
$scale-2200: 1.150;
$scale-1920: 1.000;
$scale-1680: 0.875;
$scale-1440: 0.750;
$scale-1360: 0.708;
$scale-1024: 0.533;
$scale-768: 0.400;

$section1-height: 130em;
$section2-height: 67.5em;
$section3-height: $section2-height;
$section4-height: 74em;
$section5-height: $section4-height;
$section6-height: $section5-height;
