@import 'bourbon';
@import 'fonts';
@import 'variables';

* {
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.05)
}

body {
  color: white;
  font-family: Helvetica, sans-serif;
  margin: 0;
  overflow-x: hidden;
  background-color: $orange;
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  font-weight: normal;
  font-size: 2.4em;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
}

article {
  margin: 7.8125em;

  .margin-top {
    margin-top: 10em;
  }
}

section {
  // border-bottom: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
  overflow: hidden;

  img {
    bottom: $insane-size;
    left: $insane-size;
    margin: auto;
    position: absolute;
    right: $insane-size;
    top: $insane-size;
    z-index: -1;
  }
}

.fwn {
  font-weight: normal;
}

#sound, #play {
  position: absolute;
  top: 7.8125em;
  right: 7.8125em;
  color: white;
  z-index: 1000;

  &:active {
    color: darken(white, 10);
  }

  i {
    font-size: 3em;
  }
}

.bigger {
  font-size: 1.2em;
}

.center {
  font-size: 2.2em;
  font-weight: bold;
  text-align: center;
}

.symboles-vertical {
  @include size(22.5em 41.5625em);
  @include retina-image("../images/symboles-vertical", 22.5em 41.5625em);

  left: 50%;
  margin-left: -11.25em;
  position: relative;
  margin-top: 6em;
  z-index: 100;
}

.symboles-horizontal {
  @include size(18.75em 10.125em);
  @include retina-image("../images/symboles-horizontal", 18.75em 10.125em);

  left: 50%;
  margin-left: -9.375em;
  position: absolute;
  z-index: 100;
}

.blowup {
  @include transition(all 4.0s $ease-out-circ);
  @include transform(scale(.3));
  opacity: 0;

  &.active {
    @include transform(scale(1));
    opacity: 1;
  }
}


.section1 {
  height: $section1-height;

  .first-quote {
    margin-top: 7.5em;

    .signature-straram {
      @include size(5.682em 2.1875em);
      @include retina-image("../images/signature-straram", 5.682em 2.1875em);

      left: 50%;
      margin-left: -2.841em;
      position: relative;
      margin-top: 1em;
    }
  }

  .second-quote {
    margin-top: 13em;
  }
}

.section2 {
  height: $section2-height;

  img {
    bottom: -9600px;
  }

  .margin-top {
    margin-top: 8em;
  }

  .symboles-horizontal {
    margin-top: 14em;
  }
}

.section3 {
  height: $section3-height;

  .margin-top {
    margin-top: 10em;
  }
}

.section4 {
  background-color: $orange;
  height: $section4-height;

  .margin-top {
    margin-top: 5em;
  }

  .symboles-horizontal {
    margin-top: 8em;
  }
}

.section5 {
  height: $section5-height;
  position: relative;
  border-top: 1px solid black;

  video {
    @include transform(translateX(-50%) translateY(-50%));

    height: auto;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: -100;
  }
}

.section6 {
  height: $section6-height;

  .margin-top {
    margin-top: 12em;
  }

  .margin-bottom {
    display: block;
    margin-bottom: 1em;
  }
}

@import 'media-queries';
