body {
  margin: 0;
  overflow-x: hidden; }

.section1 {
  height: 100vw;
  z-index: 100; }

.section2 {
  height: 55vw;
  z-index: 80; }
  .section2 img {
    bottom: -9600px; }

.section3 {
  height: 55vw;
  z-index: 80; }

section {
  border-bottom: 2px solid black;
  position: relative;
  overflow: hidden; }
  section img {
    bottom: -10000px;
    left: -10000px;
    margin: auto;
    position: absolute;
    right: -10000px;
    top: -10000px; }
