@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?39817389");
  src: url("../fonts/fontello.eot?39817389#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?39817389") format("woff"), url("../fonts/fontello.ttf?39817389") format("truetype"), url("../fonts/fontello.svg?39817389#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-volume-off:before {
  content: '\e800'; }

/* '' */
.icon-volume-low:before {
  content: '\e801'; }

/* '' */
.icon-volume-middle:before {
  content: '\e802'; }

/* '' */
.icon-volume-high:before {
  content: '\e803'; }

/* '' */
.icon-play-outline:before {
  content: '\e804'; }

/* '' */
.icon-play:before {
  content: '\e805'; }

/* '' */
.icon-pause-outline:before {
  content: '\e806'; }

/* '' */
.icon-pause:before {
  content: '\e807'; }

/* '' */
.icon-play-1:before {
  content: '\e80b'; }

/* '' */
.icon-pause-1:before {
  content: '\e80c'; }

/* '' */
.icon-volume-off-2:before {
  content: '\e80d'; }

/* '' */
.icon-volume-up-1:before {
  content: '\e80e'; }

/* '' */
* {
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.05); }

body {
  color: white;
  font-family: Helvetica, sans-serif;
  margin: 0;
  overflow-x: hidden;
  background-color: #f36700; }

h1 {
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 0; }

h2 {
  margin-top: 0;
  font-weight: normal;
  font-size: 2.4em; }

h3 {
  font-size: 1.5em;
  font-weight: normal; }

article {
  margin: 7.8125em; }
  article .margin-top {
    margin-top: 10em; }

section {
  border-bottom: 1px solid black;
  position: relative;
  overflow: hidden; }
  section img {
    bottom: -10000px;
    left: -10000px;
    margin: auto;
    position: absolute;
    right: -10000px;
    top: -10000px;
    z-index: -1; }

.fwn {
  font-weight: normal; }

#sound, #play {
  position: absolute;
  top: 7.8125em;
  right: 7.8125em;
  color: white;
  z-index: 1000; }
  #sound:active, #play:active {
    color: #e6e6e6; }
  #sound i, #play i {
    font-size: 3em; }

.bigger {
  font-size: 1.2em; }

.center {
  font-size: 2.2em;
  font-weight: bold;
  text-align: center; }

.symboles-vertical {
  height: 41.5625em;
  width: 22.5em;
  background-image: url("../images/symboles-vertical.png");
  left: 50%;
  margin-left: -11.25em;
  position: relative;
  margin-top: 6em;
  z-index: 100; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .symboles-vertical {
      background-image: url("../images/symboles-vertical_2x.png");
      background-size: 22.5em 41.5625em; } }

.symboles-horizontal {
  height: 10.125em;
  width: 18.75em;
  background-image: url("../images/symboles-horizontal.png");
  left: 50%;
  margin-left: -9.375em;
  position: absolute;
  z-index: 100; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .symboles-horizontal {
      background-image: url("../images/symboles-horizontal_2x.png");
      background-size: 18.75em 10.125em; } }

.blowup {
  -webkit-transition: all 4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -o-transform: scale(0.3);
  transform: scale(0.3);
  opacity: 0; }
  .blowup.active {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1; }

.section1 {
  height: 130em; }
  .section1 .first-quote {
    margin-top: 7.5em; }
    .section1 .first-quote .signature-straram {
      height: 2.1875em;
      width: 5.682em;
      background-image: url("../images/signature-straram.png");
      left: 50%;
      margin-left: -2.841em;
      position: relative;
      margin-top: 1em; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        .section1 .first-quote .signature-straram {
          background-image: url("../images/signature-straram_2x.png");
          background-size: 5.682em 2.1875em; } }
  .section1 .second-quote {
    margin-top: 13em; }

.section2 {
  height: 67.5em; }
  .section2 img {
    bottom: -9600px; }
  .section2 .margin-top {
    margin-top: 8em; }
  .section2 .symboles-horizontal {
    margin-top: 14em; }

.section3 {
  height: 67.5em; }
  .section3 .margin-top {
    margin-top: 10em; }

.section4 {
  background-color: #f36700;
  height: 74em; }
  .section4 .margin-top {
    margin-top: 5em; }
  .section4 .symboles-horizontal {
    margin-top: 8em; }

.section5 {
  height: 74em;
  position: relative;
  border-top: 1px solid black; }
  .section5 video {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: auto;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: -100; }

.section6 {
  height: 74em; }
  .section6 .margin-top {
    margin-top: 12em; }
  .section6 .margin-bottom {
    display: block;
    margin-bottom: 1em; }

body {
  font-size: 16px; }

@media (max-width: 1680px) {
  body {
    font-size: 14px; } }

@media (max-width: 1440px) {
  body {
    font-size: 12px; } }

@media (max-width: 1360px) {
  body {
    font-size: 11.328px; } }

@media (max-width: 1024px) {
  body {
    font-size: 8.528px; } }

@media (max-width: 768px) {
  body {
    font-size: 6.4px; } }
